{{{partial 'layout_header'}}}
  <body>
    <div id="topbar">
      <nav class="ink-navigation">
        <ul class="menu horizontal flat black shadowed" style="padding-right: 2em;padding-left: 2em;">
          <li><a class="logoPlaceholder" href="/" title="Livebots">Livebots</a></li>
          <li><a href="/about" title="About"><i class="icon-bookmark"></i> About</a></li>
          <li><a href="/bot" title="Create new robot"><i class="icon-plus"></i> Create new robot</a></li>
          <!--<li><iframe src="http://nodeknockout.com/iframe/live-nodebots" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe></li>-->
        </ul>
      </nav>
    </div>
    <div class="application">
    <!--{{{displayFlash flash}}}-->
    {{{render}}}
    <div>
  </body>
{{{partial 'layout_footer'}}}

