  <footer>
    <div class="ink-grid">
      <div class="column-group">
        <nav class="large-50 medium-50 small-100 ink-navigation push-left">
          <ul class="menu horizontal">
            <li><a class="socialButton" href="https://twitter.com/livebotscc"><span class="icon-twitter"></span></a></li>
            <li><a class="socialButton" href="https://www.facebook.com/livebotscc"><span class="icon-facebook"></span></a></li>
            <li><a class="socialButton" href="https://plus.google.com/102746262927791864714"><span class="icon-google-plus"></span></a></li>
            <li><a class="socialButton" href="https://github.com/nko4/live-nodebots"><span class="icon-github-alt"></span></a></li>
            <li><a class="socialButton" href="/about/"><span class="icon-envelope"></span></a></li>
            <li></li>
          </ul>
        </nav>
        <div class="large-50 medium-50 hide-small footer-logos">
          <a class="push-right" href="http://ink.sapo.pt/">
            <img src="/img/poweredbyink.png">
          </a>
        </div>
      </div>
    </div>
    <div style="text-align:center">
      <iframe src="http://nodeknockout.com/iframe/live-nodebots" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
    </div>
  </footer>
</html>

